.email, .email:hover {
    color: #161f29;
}
br {
    padding: 1px;
}
.past{
  width: 100%;
}
.column{
    padding: 5px;
}
.latest{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
